.App-header {
  align-items: center;
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.App-title {
  color: #fff;
}
.logo {
  padding: 20px;
}
.card-content {
  height: 100px;
}
.card-image {
  height: 230px;
}
.link,
#myNav {
  color: #28c8a3;
  font-size: 20px;
  padding: 10px;
}
.activeRoute {
  background-color: #fab010;
  color: #fff;
  padding: 10px;
}
.headlines {
  color: #282c34;
}
